body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.9rem; }

a {
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline;
    color: red; }

table {
  border-spacing: 0;
  border-collapse: separate; }

.bold {
  font-weight: bold; }

body {
  padding-top: 0;
  margin-top: 0;
  margin-left: 0; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

#content {
  margin: 0 auto 0 auto; }

#header-title {
  margin: 10px 0;
  float: left;
  width: 520px; }
  #header-title span {
    font-weight: bold;
    font-family: 'Segoe UI Semibold', 'Segoe UI', sans-serif; }

#header-container {
  margin: 10px 0;
  float: left;
  font-variant: small-caps;
  color: #121280;
  font-weight: bold;
  font-size: 18px;
  /*a { text-decoration: none; border: none; }
    a:hover {text-decoration: underline; color: red;}*/ }
  #header-container a div {
    float: left;
    text-align: center;
    margin-right: 12px;
    height: 124px;
    width: 180px; }

.header-old-highway-maps {
  background-image: url("../images/old-road-maps-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 24px; }

.header-aerial {
  background-image: url("../images/gallery-icon-180x100.jpg");
  background-repeat: no-repeat;
  background-position: 0 24px; }

#right-pane {
  display: table;
  font-family: Verdana, sans-serif;
  font-size: 80%; }
  #right-pane > div {
    float: left; }

#map {
  clear: left;
  position: relative; }
  #map-inset {
    position: absolute;
    top: 10px;
    left: 10px; }
    #map-inset a {
      text-decoration: none;
      display: block;
      float: left;
      margin: 0 5px; }
    #map-inset > div {
      float: left; }

.map-inset {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 13px;
  color: #FF0;
  text-align: center;
  display: table-cell;
  vertical-align: bottom; }
  .map-inset div {
    margin-bottom: 6px; }

#high-five {
  background-image: url("../images/high-five-thumbnail-100x100.png"); }

#margaret-hunt-hill {
  background-image: url("../images/margaret-hunt-hill-thumbnail-100x100.png"); }

#downtown-dallas {
  background-image: url("../images/downtown-dallas-thumbnail-100x100.png"); }

#legend {
  border: 2px solid red;
  background-color: yellow;
  width: 220px;
  padding: 2px 4px 4px 4px;
  font-size: 0.75em; }

#book-area {
  width: 696px;
  background-color: #f2f6fe;
  margin: 10px 0; }
  #book-area .heading {
    font-size: 1.7em;
    color: #121280;
    font-variant: small-caps;
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px; }
  #book-area .sub-heading {
    width: 100%;
    text-align: center;
    color: dodgerblue;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em; }
  #book-area > table > tbody > tr > td:first-child {
    padding: 0 12px 0 0; }
  #book-area > table > tbody > tr > td:nth-child(2) {
    padding: 0 12px 0 0; }
  #book-area td {
    vertical-align: top; }

#book-download, #complete-book-download {
  background-color: #FFF;
  border: 1px solid #121280; }
  #book-download > tbody > tr:nth-child(2n+1) > td, #complete-book-download > tbody > tr:nth-child(2n+1) > td {
    padding: 6px 2px 3px 6px;
    border-top: 1px solid #121280;
    border-right: 1px solid #121280;
    border-left: 1px solid #121280; }
  #book-download > tbody > tr:nth-child(2n+2) > td, #complete-book-download > tbody > tr:nth-child(2n+2) > td {
    padding: 3px 2px 6px 6px;
    border-bottom: 1px solid #121280;
    border-right: 1px solid #121280;
    border-left: 1px solid #121280; }

#chapter-name td:first-child, #complete-book td:first-child {
  font-weight: bold;
  font-size: 1.6em;
  padding: 0 6px 0 0; }
#chapter-name td:nth-child(2), #complete-book td:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  padding: 0 6px 0 0;
  color: #121280;
  vertical-align: middle; }

#book-excerpt {
  background-color: #FFF; }

.excerpt-group {
  padding: 6px 2px 4px 6px;
  border-bottom: 2px solid #121280;
  font-weight: bold;
  font-size: 15px; }

.excerpt-description {
  font-weight: bold;
  padding: 2px 6px 0 6px;
  border-right: 2px solid #121280;
  border-left: 2px solid #121280; }

.excerpt-download {
  padding: 0 2px 4px 6px;
  border-bottom: 2px solid #121280;
  border-right: 2px solid #121280;
  border-left: 2px solid #121280; }

.download-info {
  font-size: 13px;
  width: 100%; }

.book-info {
  margin-bottom: 10px; }
  .book-info > div {
    clear: right; }

.book-list {
  width: 255px; }

.book-back {
  display: none; }

.book-front, .book-back {
  float: left; }

.book-front {
  margin-right: 12px; }

.list-heading {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  padding: 6px 0; }

.link-group > div:first-child {
  padding: 10px 0 4px 0;
  font-weight: bold;
  font-size: 15px; }
.link-group div {
  padding: 2px 0; }
.link-group a {
  font-weight: bold; }

/* MEDIA STYLES */
@media (max-width: 1009px) {
  #content {
    width: 710px; }

  #header-container {
    width: 180px; }
    #header-container a:first-child div {
      margin-top: 30px; }
    #header-container a div {
      margin-top: 15px;
      height: auto; }

  .header-old-highway-maps, .header-aerial {
    background: none; }

  #right-pane {
    width: 700px;
    background-color: #fee0e0; }
    #right-pane > div:first-child {
      width: 250px; }
    #right-pane > div {
      width: 220px; }

  .book-info-narrow div:first-child {
    width: auto !important; }
    .book-info-narrow div:first-child:after {
      content: none; }
  .book-info-narrow div:nth-child(2) {
    clear: left;
    margin-left: 20px;
    width: 150px; }
 }

@media (min-width: 1010px) and (max-width: 1299px) {
  #content {
    width: 980px; }

  #header-container {
    width: 420px; }

  #right-pane {
    float: right;
    width: 270px;
    position: relative;
    top: -500px; }
    #right-pane p {
      padding: 20px 0px; }
    #right-pane > div {
      width: 230px; }
 }

@media (max-width: 1299px) {
  #book-info-container {
    width: 180px; }

  .book-info div.one-line div:first-child {
    width: 96px;
    overflow: hidden;
    white-space: nowrap; }
    .book-info div.one-line div:first-child:after {
      content: "  .................................................................................."; }
  .book-info div.one-line div {
    float: left; }
  .book-info div.one-line div:nth-child(2) {
    overflow: hidden; }

  .line-break-narrow div:nth-child(2) {
    clear: left;
    margin-left: 20px;
    width: 150px; }

  #book-download, #book-excerpt, #complete-book-download {
    width: 246px; }
 }

@media (min-width: 1300px) {
  #header-container {
    width: 720px; }

  #book-area {
    width: 1280px;
    position: relative;
    top: -500px;
    display: table; }

  #book-info-container {
    width: 400px; }

  .book-info div div:first-child {
    width: 170px;
    overflow: hidden;
    white-space: nowrap; }
    .book-info div div:first-child:after {
      content: "  .................................................................................."; }
  .book-info div div {
    float: left; }
  .book-info div div:nth-child(2) {
    overflow: hidden; }

  #book-download, #book-excerpt, #complete-book-download {
    width: 400px; }

  .book-back {
    display: block; }

  #right-pane {
    float: right;
    height: 500px;
    position: relative;
    top: -500px; }
    #right-pane > div {
      width: 260px; }
 }

@media (min-width: 1300px) and (max-width: 1579px) {
  #content {
    width: 1280px; }

  #right-pane {
    width: 560px; }
 }

@media (min-width: 1580px) {
  #content {
    width: 1550px; }

  #right-pane {
    width: 840px; }
 }

/*# sourceMappingURL=home.css.map */