@mixin anchor {
    a {
    text-decoration: none;
    &:hover {text-decoration: underline; color: red;}
    font-weight: bold;
    }

}

@mixin basic-settings {

    body {

    font-family: 'Segoe UI', sans-serif;
    /*font-size: 0.9rem;*/
    }

    table {
        border-spacing: 0;
        border-collapse: separate; 
    }

}

@mixin header {
    .titleBase { line-height: 120%; }
    .header {
    margin: 12px 0 20px 0;
    display: table;
    img { padding-right: 20px;}
    img, div { display: table-cell; vertical-align: middle;}
    div:nth-child(2) {padding-right: 30px; }
        .title { 
        span:first-child{@extend .titleBase; font-size: 2.2em;}
        span:nth-child(3){@extend .titleBase; font-size: 1.8em;}
        }

    #last-update { padding: 0 0 8px 0; font-style: italic;
        span {font-weight: bold; font-style: normal; }
    }
}
    }
