//media transition points
$small: 1010px;
$medium: 1300px;
$large: 1580px;

$small-thumbnail: 150px;
$medium-thumbnail: 250px;

body {

    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    &:hover {text-decoration: underline; color: red;}
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: separate; 
}

.bold {font-weight: bold;}