body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.9rem; }

a {
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline;
    color: red; }

table {
  border-spacing: 0;
  border-collapse: separate; }

/*.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1.5px solid transparent;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  background-color: #ffffff;
  border-color: #888;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-selected {
    border: 1.5px solid black;
    font-weight: bold;
    color: black;
}*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1.5px solid transparent;
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none; }

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn-default {
  background-color: #ffffff;
  border-color: #888; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad; }

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc; }

.btn-selected {
  border: 1.5px solid black;
  font-weight: bold;
  color: black; }

.header {
  margin: 12px 0 20px 0;
  display: table; }
  .header img {
    padding-right: 20px; }
  .header img, .header div {
    display: table-cell;
    vertical-align: middle; }
  .header div:nth-child(2) {
    font-size: 2.2em;
    padding-right: 30px; }
  .header .title {
    font-size: 2em;
    padding-right: 30px;
    line-height: 120%; }

#last-update {
  padding: 0 0 8px 0;
  font-style: italic; }
  #last-update span {
    font-weight: bold;
    font-style: normal; }

body {
  padding: 0 20px 0 30px; }

.tile-item {
  border: 1px solid #f00;
  font-size: 13px;
  display: table;
  overflow: scroll;
  float: left;
  vertical-align: bottom;
  margin: 3px 5px; }
  .tile-item div:nth-child(1) {
    display: table-row;
    height: 100% !important; }
    .tile-item div:nth-child(1) table {
      width: 100%;
      height: 100%; }
    .tile-item div:nth-child(1) td {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: bottom; }
      .tile-item div:nth-child(1) td:hover {
        cursor: pointer; }
  .tile-item div:nth-child(2) {
    display: table-cell;
    width: 1px; }
  .tile-item img {
    max-height: 100%;
    max-width: 100%;
    display: table-cell; }
  .tile-item-small {
    height: 130px;
    width: 130px; }
  .tile-item-medium {
    height: 180px;
    width: 180px; }
  .tile-item-large {
    height: 230px;
    width: 230px; }
  .tile-item-extralarge {
    height: 280px;
    width: 280px; }

.button-list {
  margin: 8px 0; }
  .button-list span {
    margin: 0 8px; }
  .button-list span:first-child {
    font-weight: bold;
    font-size: 16px; }

.top-text {
  margin: 12px 0;
  max-width: 900px; }

.tile-expanded {
  /*max-width: 90%;*/
  clear: both;
  /*margin: 0 auto;*/ }
  .tile-expanded img {
    max-height: 100%;
    max-width: 100%; }

.expanded img:hover {
  cursor: pointer; }

.long-caption {
  padding-bottom: 14px; }
  .long-caption div:nth-child(2) span {
    color: red; }
  .long-caption a {
    padding: 0 6px; }

/*# sourceMappingURL=tile.css.map */